<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Account</title>
    <link rel="stylesheet" href="public/styles.css">
    
    
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">

</head>
<body>
    <div id="disabledBackground"></div>

    <header>
        <div class="navbarContainerRegister">
            <a href="/home" class="Logo"><h2>Jokester</h2></a>
        </div>
    <header>  

    <main>
        <div class="registerForm">
            <p> <%=message%> </p>
            <form method="post" id="registerationForm">
                <input type="text" name="fullName" placeholder="Enter your full name" required><br>
                <input type="email" name="registerEmail" placeholder="Enter email: ajax34@xyz.com" required><br>
                <input type="password" name="registerPass" placeholder="Enter password" required><br>
                <input type="submit" id="registerButton" value="Sign up">
            </form>
            <h6>Already have an account? Go to homepage to <a href="/home" style="color:  rgb(32, 71, 126);">Login</a></h6>
            <!-- <button id="test" onclick="test()">Test</button> -->
        </div>
    </main>


    <footer>
        <div class="contactContainer">
            <h3>Contact</h3>
            <p><i class="fi fi-bs-marker"></i> Stevens Institute of Technology</p> 
            <p><i class="fi fi-rr-envelope"></i> utkarshshanker551@gmail.com</p>
            <p><i class="fi fi-rr-phone-call"></i> +1 551 260 8248</p>
            <p style="font-size: xx-small; margin-bottom: 0; margin-top: 20px;"> Uicons by <a href="https://www.flaticon.com/uicons" style="color:  rgb(32, 71, 126);">Flaticon</a></p>
            
        </div>
    <footer>

    <script type="text/javascript" src="script.js"></script>
</body>
</html>